/* Dark Green #076633, Light Green #97C120, Ivory #F6F9EF */

@media only screen and (min-width:769px) {
  * {
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      background-color: #f6f9ef;
      text-align: center;
      font-size: 24px;
      letter-spacing: 1.5px;
      line-height: 1.5;
  }
  body {
      margin: 0;
    }
  }

  @media only screen and (max-width:768px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        background-color: #f6f9ef;
        text-align: center;
        font-size: 24px;
    }
    body {
        margin: 0;
      }
    }


/*Header and Nav*/
@media only screen and (min-width:769px) {
    header {
        height: 160px;
    }

  header img {
      height: 150px;
      width: 150px;
      margin: 0px auto;
  }

    #home ul li {
      list-style: none;
      display: inline-block;
    }
    
    #home a {
      align-items: stretch;
      display: inline-block;
      color: #076633;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1rem;
    }

    #home a:hover {
      background-color: #97c120;
      color: #076633;
    } 
}

@media only screen and (max-width:768px) {

header img {
  display: none;
}

  #home ul li {
    list-style: none;
    display: inline-block;
  }
  
  #home a {
    align-items: stretch;
    display: inline-block;
    color: #076633;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: .75rem;
  }

  #home a:hover {
    background-color: #97c120;
    color: #076633;
  } 
}

@media only screen and (max-width:479px) {

  header img {
    display: none;
  }
  
    #home ul li {
      list-style: none;
      display: inline-block;
    }
    
    #home a {
      align-items: stretch;
      display: inline-block;
      color: #076633;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: .5rem;
    }
  
    #home a:hover {
      background-color: #97c120;
      color: #076633;
    } 
  }

  /*Banner*/
  @media only screen and (min-width:769px) {
    .banner-section {
      margin-top: 75px;
    }

    .banner img {
        width: 100%;
        height: auto;
    }

    .banner-section h1 {
      color: #076633;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width:768px) {

    .banner img {
        width: 100%;
        height: auto;
    }

    .banner-section h1 {
      color: #076633;
      font-size: 1.5rem;
    }
  }

  @media only screen and (max-width:479px) {

    .banner img {
        width: 100%;
        height: auto;
    }

    .banner-section h1 {
      color: #076633;
      font-size: 1rem;
    }
  }

/*About Me Section*/
@media only screen and (min-width:769px) {
    .profile-picture img {
      height: 250px;
      border-radius: 50%;
    }

    .profile-buttons img {
      height: 25px;
      padding: 2px;
    }

    .founder-text-dark {
      font-size: 1.5rem;
      color: #076633;
      margin-bottom: 0;
    }

    .founder-text-light {
      font-size: 1.5rem;
      color: #97c120;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    .about-info {
      background-color: #f6f9ef;
      padding: 1rem 0;
      margin: 1rem 0;
    }

    .about-info h2 {
      color: #076633;
      background-color: #f6f9ef;
      font-size: 1.5rem;;
      padding: 0;
    }

    .about-info p{
      color: #076633;
      padding: 0 10rem;
      background-color: #f6f9ef;
    }

    .about-info span {
      color: #97c120;
      background-color: #f6f9ef;
      font-weight: 700;
    }
  }

  @media only screen and (max-width:768px) {
    .profile-picture img {
      height: 250px;
      border-radius: 50%;
    }

    .profile-buttons img {
      height: 25px;
      padding: 2px;
    }

    .founder-text-dark {
      font-size: 1.25rem;
      color: #076633;
      margin-bottom: 0;
    }

    .founder-text-light {
      font-size: 1.25rem;
      color: #97c120;
      margin-bottom: .5rem;
      margin-top: 0;
    }

    .about-info {
      background-color: #f6f9ef;
      padding: .25rem 0;
      margin: .25rem 0;
    }

    .about-info h2 {
      color: #076633;
      background-color: #f6f9ef;
      font-size: 1.5rem;;
      padding: 0;
    }

    .about-info p{
      padding: 0.5rem;
      background-color: #f6f9ef;
      color: #076633;
    }

    .about-info span {
      color: #97c120;
      background-color: #f6f9ef;
      font-weight: 700;
    }
  }

  @media only screen and (max-width:479px) {
    .profile-picture img {
      height: 250px;
      border-radius: 50%;
    }

    .profile-buttons img {
      height: 25px;
      padding: 2px;
    }

    .founder-text-dark {
      font-size: 1rem;
      color: #076633;
      margin-bottom: 0;
    }

    .founder-text-light {
      font-size: 1rem;
      color: #97c120;
      margin-bottom: 0.25rem;
      margin-top: 0;
    }

    .about-info {
      background-color: #f6f9ef;
      padding: .25rem 0;
      margin: .25rem 0;
    }

    .about-info h2 {
      color: #076633;
      background-color: #f6f9ef;
      font-size: 1rem;;
      padding: 0;
    }

    .about-info p{
      padding: 0.5rem;
      background-color: #f6f9ef;
      color: #076633;
      font-size: .75rem;
    }

    .about-info span {
      color: #97c120;
      background-color: #f6f9ef;
      font-weight: 700;
      font-size: .75rem;
    }
  }

  /*Product Highlights Section*/
  @media only screen and (min-width:769px) {
      .product-highlights {
        padding: 25px;
        margin-bottom: 25px;
        background: rgb(151,193,32);
        background: linear-gradient(90deg, rgba(151,193,32,1) 0%, rgba(7,102,51,1) 100%, rgba(0,212,255,1) 076633%);
      }

      .product-highlights h2 {
        color: #f6f9ef;
        font-size: 1.5rem;
        padding: 0;
        background: transparent;
      }

      .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: transparent;
      }

      .products img {
        display: inline-block;
        min-width: 600px;
        max-width: 40%;
        margin: 1rem;
        border-radius: 25px;
        min-height: 300px;
      }
    }

    @media only screen and (max-width:768px) {
      .product-highlights {
        padding: 1rem;
        margin-bottom: 25px;
        background: rgb(151,193,32);
        background: linear-gradient(90deg, rgba(151,193,32,1) 0%, rgba(7,102,51,1) 100%, rgba(0,212,255,1) 076633%);  
      }

      .product-highlights h2 {
        color: #f6f9ef;
        font-size: 1.5rem;
        padding: 0;
        background: transparent;
      }

      .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: transparent;
      }

      .products img {
        display: inline-block;
        min-width: 480px;
        max-width: 40%;
        margin: 1rem;
        border-radius: 25px;
        min-height: 300px;
      }
    }

    @media only screen and (max-width:479px) {
      .product-highlights {
        padding: 1rem;
        margin-bottom: 25px;
        background: rgb(151,193,32);
        background: linear-gradient(90deg, rgba(151,193,32,1) 0%, rgba(7,102,51,1) 100%, rgba(0,212,255,1) 076633%);
      }

      .product-highlights h2 {
        color: #97c120;
        font-size: 1rem;
        padding: 0;
        background: transparent;
      }

      .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: transparent;
      }

      .products img {
        display: inline-block;
        margin: 0px auto;
        min-width: 320px;
        max-width: 100%;
        padding: 10px;
        border-radius: 25px;
        min-height: 300px;
        background: transparent;
      }
    }

  /*Testimonials*/
  @media only screen and (min-width:769px) {
    .testimonials {
      border: 25px solid #f6f9ef;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .testimonials h2 {
      color: #076633;
      font-size: 1.5rem;
      width: 100%;
    }

    .testimonials img {
      display: inline-block;
      min-width: 750px;
      max-width: 30%;
      padding: 10px;
      border-radius: 25px;
      min-height: 300px;
      margin-bottom: 50px;
    }
  }

    @media only screen and (max-width:768px) {
      .testimonials {
        border: 25px solid #f6f9ef;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
  
      .testimonials h2 {
        color: #076633;
        font-size: 1.25rem;
        width: 100%;
      }
  
      .testimonials-images img {
        display: inline-block;
        min-width: 420px;
        max-width: 80%;
        padding: 10px;
        border-radius: 25px;
        margin-bottom: 50px;
      }
    }

    @media only screen and (max-width:768px) {
      .testimonials {
        border: 25px solid #f6f9ef;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
  
      .testimonials h2 {
        color: #076633;
        font-size: 1.25rem;
        width: 100%;
      }
  
      .testimonials-images img {
        display: inline-block;
        min-width: 420px;
        max-width: 80%;
        padding: 10px;
        border-radius: 25px;
        margin-bottom: 50px;
      }
    }

    @media only screen and (max-width:480px) {
      .testimonials {
        border: 10px solid #f6f9ef;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
  
      .testimonials h2 {
        color: #076633;
        font-size: 1.25rem;
        width: 100%;
      }
  
      .testimonials-images img {
        display: inline-block;
        min-width: 320px;
        max-width: 80%;
        padding: 10px;
        border-radius: 25px;
        margin-bottom: 50px;
      }
    }

  /*Recipe Cards*/
  @media only screen and (min-width:769px) {
    .recipe-cards {
      background: rgb(151,193,32);
      background: linear-gradient(90deg, rgba(151,193,32,1) 0%, rgba(7,102,51,1) 100%, rgba(0,212,255,1) 076633%);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .recipe-cards h2 {
      background: transparent;
      width: 100%;
      color: #f6f9ef;
      font-size: 1.5rem;
    }

    .recipe-cards div {
      background: transparent;
    }

    .recipe-cards img {
      display: inline-block;
      background: transparent;
      min-width: 356px;
      max-width: 30%;
      margin: 1rem 0.5rem;
      border-radius: 25px;
      min-height: 300px;
    }
  }

  @media only screen and (max-width:768px) {
    .recipe-cards {
      background: rgb(151,193,32);
      background: linear-gradient(90deg, rgba(151,193,32,1) 0%, rgba(7,102,51,1) 100%, rgba(0,212,255,1) 076633%);
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .recipe-cards h2 {
      background: transparent;
      color: #97c120;
      font-size: 1.25rem;
    }

    .recipe-cards div {
      background: transparent;
    }

    .recipe-cards img {
      display: inline-block;
      background: transparent;
      min-width: 470px;
      max-width: 30%;
      padding: 10px;
      border-radius: 25px;
      min-height: 300px;
    }
  }

  @media only screen and (max-width:480px) {
    .recipe-cards {
      background: rgb(151,193,32);
      background: linear-gradient(90deg, rgba(151,193,32,1) 0%, rgba(7,102,51,1) 100%, rgba(0,212,255,1) 076633%);
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .recipe-cards h2 {
      background: transparent;
      color: #97c120;
      font-size: 1.5rem;
    }

    .recipe-cards div {
      background: transparent;
    }

    .recipe-cards img {
      display: inline-block;
      background: transparent;
      min-width: 320px;
      max-width: 100%;
      padding: 10px;
      border-radius: 25px;
      min-height: 300px;
    }
  }

  /*Contact Form*/
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #076633;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 24px;
  resize: vertical;
  color: #076633;
}

label {
  color: #076633;
  
}

::placeholder {
  color: #97c120;
}

input[type=submit] {
  background-color: #076633;
  color: #97c120;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #97c120;
  color: #076633;
}

.container {
  border-radius: 5px;
  background-color: #f6f9ef;
  padding: 25px 10%;
  margin: 0px auto;
}


/*Footer*/
footer {
  background-color: #076633;
  text-align: center;
}

footer h2 {
  margin: 0px;
  padding: 15px 0px 0px 0px;
  color: #97c120;
  background-color: #076633;
}

footer h3 {
  display: inline-block;
  padding: 0px 10px;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #97c120;
  background-color: #076633;
}

footer h4 {
  margin: 0;
  color: #97c120;
  font-size: small;
  padding-bottom: 25px;
  background-color: #076633;
}

footer ul, footer li, footer [href], footer nav {
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  vertical-align: middle;
  color: #97c120;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  background-color: #076633;
  margin: 0px 10px 5px 10px;
  align-content: center;
  padding: 0px;
}

footer img {
  height: 30px;
  
}

footer div {
  width: 100%;
  align-content: center;
  background-color: #076633;
}

#creator {
  font-size: .75rem;
  margin: 0;
  color: #36a9e0;
  text-decoration: underline;
}
